---
interface Props {
    title: string,
    icon: string,
    iconAlt: string,
    url: string
}

const { title, icon, iconAlt, url }: Props = Astro.props

---

<button aria-label={title} id={title}>
    <img src={icon} alt={iconAlt}>
    {title}
</button>

<script is:inline>
    document.addEventListener('DOMContentLoaded', () => {
        const button = document.querySelector(`#${CSS.escape(title)}`)
        console.log(1111111)
        if (button) {
            button?.addEventListener("click", () => {
                console.log(22222222)
                location.href = url
            })
        } else {
            console.log("button not found")
        }
    })
</script>

<style>
    button {
        /* content */
        display: flex;
        align-items: center;
        gap: 6px;
        font-weight: 700;
        padding: 0.5vh 2vw;
        /* border */
        border: 0;
        border-radius: 12px;
        box-shadow: 2px 2px;
        /* mouse */
        cursor: pointer;

        img {
            width: 1vw;
            height: auto;
        }
    }
</style>